.marker {
    position: absolute;
}

.marker img {
    position: absolute;
}

.container {
    height: 100%;
}

.info {
    z-index: 1000;
    margin: auto;
    text-align: center;
    border: 1px royalblue;
    background-color: antiquewhite;
    width: 600px;
    height: 150px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    overflow: auto;
    word-break: break-all;
    word-wrap: break-word;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

body {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-size: 12px;
}

.themeList {
    display: none;
    position: absolute;
    top: 20px;
    left: 20px;
}

.mapList {
    display: none;
    position: absolute;
    top: 20px;
    left: 80px;
}

.layerList select {
    margin-right: 5px;
}

.layerList {
    margin-right: 5px;
    position: absolute;
}

.sectionRoute {
    width: 300px;
    height: 500px;
    position: absolute;
    top: 0px;
    left: 0px;
}

ul {
    list-style: none;
    margin: 5px;
    padding: 5px;
    position: absolute;
}

ul li {
    padding-top: 5px;
}

ul li input {
    margin-right: 5px;
}

label {
    font-weight: bold;
}